.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5px;
}

.panel{

  display: flex;
  flex-direction: row;

}




.left-panel {
  background: #ffffff;
  width : 50%;
  height: 100%;
  min-height: 100vh;

}

.right-panel {
  background: #61dafb;
  width : 50%;
  min-height: 100vh;
 
}

.normalAnchorStyle {
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.template{

  background-color: #b0bcf1;
  border-radius: 5px;
  height: 150px;
  width: 200px;
  color:black;
  margin:10px;
  border-left: 1px solid red;
}